* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: Consolas;
}
body{
    background-color:#282C34;
}

/* Code colors*/
.light-blue{
    color:#3EAAC2;
}
.blue{
    color:#3A6AD1;
}

/* Header */
#header{
    background-color: #21252B;
    padding: 20px 10px;
    height: 220px;
}
#logo{
    float: left;
    padding: 20px;
    height:200px;
}

#header-right h1{
    color:#ABB2BF;
    font-size: 40px;
    margin-bottom:30px;
}

#header-right p{
    color: #ABB2BF;
    font-size: 20px;
}

/* Nawigacja pozioma*/
#nav-poziom{
    background-color:#21252B;

}

#nav-poziom ul{
    display:flex;
    list-style: none;
}

#nav-poziom li{
    padding:20px;
    border-right: 1px solid black;
    letter-spacing: -1px;
    color: #ABB2BF;
}
#nav-poziom li:hover, #nav-poziom #obecna:hover{
    background-color: #30343C;
}
#nav-poziom i{
    padding: 0 10px 0 0;
}

#nav-poziom #obecna{
    background-color:#282C34;
    color:white;
}
#explorer{
    min-width:200px;
    text-align: center;
}
#nav-poziom #explorer:hover{
    background-color:#21252B;
}

/* Nawigacja pionowa */
#nav-pion{
    background-color:#21252B;
    min-width:240px;
    min-height:610px;
    font-size: 14px;

}

#nav-pion ul{
    display:flex;
    flex-direction: column;
    list-style: none;
}

#nav-pion li{
    padding:5px 20px;
    letter-spacing: -1px;
    color: #ABB2BF;
}
#nav-pion li:hover, #nav-pion #obecna:hover{
    background-color: #30343C;
    
}
#nav-pion i{
    padding: 0 10px 0 0;
}

#nav-pion #obecna{
    background-color:#282C34;
    color:white;
}

/* Content */
#content{
    display:flex;
}
section{
    margin:10px;
    color:#ABB2BF;
}
section a, section a:visited{
    color:#98B755;
}
section a:hover{
    color:#3BA9C2;
}
section a:active{
    color:#2694AD;
}
section p{
    font-size: 17px;
}

/* Footer */
footer{
    width:100%;
    background-color: #21252B;
    color: #ABB2BF;
}
footer p{
    line-height: 40px;
    text-align-last: center;
}

/* Kox_rzeczy */
table td{
    padding:20px;
    
}
table img{
    width:400px;
    border-radius: 10%;
    border: 10px solid #21252B;
}

table p{
    text-align: center;
}

iframe{
    border-radius: 10px;
    border: 10px solid #21252B;
    margin:0 20px;
}

/* Kontakt */

ol{
    margin: 0 26px;
    font-size: 17px;
}
label {
    font-size: 17px;
}
.form-text{
    font-family: Consolas;
    font-size: 16px;
    color:#ABB2BF;
    background-color: #30343C;
    border-radius: 5px;
    border: 5px solid #21252B;
    padding: 5px 10px;
}

#przycisk:hover{
    background-color: #21252B;
    color:#ffffff;
    border-color: #111111;
}
#przycisk , #przycisk:active{
    background-color: #30343C;
    color:#ABB2BF;
    font-family: Consolas;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 5px solid #21252B;
}

/* Program */

#program-form .program-options{
    width: 300px;
    height: 50px;
    border-top: 3px solid #21252B;
    border-bottom: 3px solid #21252B;
    line-height: 50px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-collapse: collapse;
    
}

#program-form{
    border-collapse: collapse;
    border-bottom: 3px solid #21252B;
    border-top: 3px solid #21252B;
    border-left: 5px solid #21252B;
    border-right: 5px solid #21252B;
    border-radius: 10px;
    
}

.program-options{
    padding:10px;
}

.program-options label{
    width: 200px;
}

.program-options input{
    width: 30px;
}

#generate-button{
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-color: #30343C;
    color:#ABB2BF;
    font-family: Consolas;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 5px solid #21252B;

}

#generate-button:hover{
    background-color: #21252B;
    color:#ffffff;
    border-color: #111111;
}

#pass-header{
    text-align: center;
}

#your-pass{
    text-align: center;
    font-size: 20px;
    background-color: #21252B;
    color:#ffffff;
    border:5px solid #111111;
    border-radius: 5px;
    padding: 10px;
}